########################################
# GLOBAL IGNORE (Monorepo)
########################################

############################
# Node / Angular
############################
**/node_modules/
**/dist/
**/.angular/
**/.cache/
**/coverage/
**/.env
**/.env.*

############################
# IntelliJ / IDE
############################
**/.idea/
**/*.iml
**/.vscode/

############################
# Maven / Spring Boot
############################
**/target/
**/*.log