################################
# OS
################################
.DS_Store
Thumbs.db

################################
# IDE (IntelliJ / VSCode)
################################
.idea/
*.iml
.vscode/

################################
# JAVA / SPRING BOOT
################################
target/
build/
out/

*.class
*.jar
*.war
*.ear

################################
# MAVEN WRAPPER
################################
.mvn/timing.properties

################################
# ANGULAR / NODE
################################
node_modules/
dist/
.angular/
.tmp/
.cache/

################################
# LOG FILES
################################
*.log

################################
# TEST
################################
coverage/
